* {
  color: rgb(37, 36, 34);
  font-family: Georgia, 'Times New Roman', serif;
}

body {
  margin: 0;
}

:root {
  --var-oscuro: rgb(37, 36, 34);
  --var-claro: rgb(245,246,240);
  --var-rojo-naranja: rgb(204, 81, 32);
  --var-rojo-naranja-modificado: rgba(204, 81, 32, 0.5);
}

.container {
  width: 95%;
  max-width: 850px;
  margin: auto;
}

footer {
  width: 100%;
  text-align: center;
  background-color: var(--var-rojo-naranja);
  padding: 8px 0; /* Reduce el padding */
  margin-top: 45px;
}

footer p {
  color: white;  
  font-size: 10px; /* Reduce el tamaño de fuente */
  font-family: Helvetica, Arial, sans-serif;
}

/* -----------------PROGRAMACIÓN--------------------- */

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

nav a {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; /* Reduce el tamaño de fuente */
  line-height: 1.6;
}

nav a:first-child {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 28px; /* Reduce el tamaño de fuente */
  font-weight: bold;
  text-transform: lowercase;
  padding-top: 10px;
  padding-bottom: 3px;
  letter-spacing: -1px;
}

.container-programacion nav a:nth-child(3) {
  color: var(--var-rojo-naranja-modificado);
}

main h1 {
  text-align: center;
  font-size: 42px; /* Reduce el tamaño de fuente */
  font-family: Helvetica, Arial, sans-serif;
  margin-block: 30px;
}

ol {
  padding-left: 145px; /* Ajusta el padding para que quepa mejor */
}

ol h2 {
  font-size: 18px; /* Reduce el tamaño de fuente */
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', serif;
}

ol li {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 500;
}

ol li ul {
  padding-left: 70px;
  font-size: 14px;
}

ol li ul a {
  font-family: Georgia, 'Times New Roman', serif;
  color: var(--var-rojo-naranja);

  & em {
    font-family: Georgia, 'Times New Roman', serif;
    color: var(--var-rojo-naranja);
  }
}

.enlace-externo {
  font-family: Georgia, 'Times New Roman', serif;
  color: var(--var-rojo-naranja);
}

ol li ul a:visited {
  font-family: Georgia, 'Times New Roman', serif;
  color: var(--var-rojo-naranja);
}

ol li ul li:first-child {
  list-style-image: url("/img/icon-museum.svg");
}

ol li ul li:nth-child(2) {
  list-style-image: url("/img/icon-calendar.svg");
}

ol li ul li:last-child {
  list-style-image: url("/img/icon-web-link.svg");
}



/* Estilo general para los enlaces externos */
.enlace-externo {
  position: relative;
  padding-right: 15px; /* Espacio para el icono */
  text-decoration: none;
}

/* Icono de enlace externo (normal) */
.enlace-externo::after {
  content: "";
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px; /* Ajusta el tamaño de la imagen */
  height: 12px;
  background-image: url("/img/external-link.svg");
  background-size: cover;
}

/* Icono en el estado :hover (imagen modificada) */
.enlace-externo:hover::after {
  background-image: url("/img/external-link-modif.svg");
}





/* --------------- MUSEOS ------------------ */

.container-museo main {
  padding-inline: 50px;
}

.container-museo nav a:nth-child(4) {
  color: var(--var-rojo-naranja-modificado);
}

.container-museo h1 {
  margin-block: 30px;
}

.container-museo p {
  padding-inline: 45px 20px;
  line-height: 1.6;
  font-size: 16px;
}

.container-museo ul {
  padding-left: 60px;
  font-size: 14px;
}

.container-museo ul li {
  padding-block: 5px;
  list-style: square;
}

.container-museo h2 {
  font-family: Helvetica, Arial, sans-serif;;
}

figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 525px;
}

figcaption {
  font-size: 10px;
  padding: 10px;
  font-weight: 600;
}

.enlace-externo:visited {
  font-family: Georgia, 'Times New Roman', serif;
  color: var(--var-rojo-naranja);
}



/* --------------- ARTICULO ------------------ */



.container-articulo nav a:nth-child(2) {
  color: var(--var-rojo-naranja-modificado);
}

.container-articulo h1 {
  font-size: 54px;
  margin-block: 10px;
}

.container-articulo main {
  display: flex;
  padding-inline: 60px;
  flex-direction: column;
  align-items: center;
}

.container-articulo h3 {
  padding-inline: 14px;
  line-height: 1.6;
  font-weight: 100;
  margin-bottom: 0;
  text-align: center;
}

.info {
  margin-block: 15px;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.autora {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--var-rojo-naranja);
}

.fecha {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  padding: 0;
  margin: 0;
}


.container-articulo figure {
  margin: 0;
}

.container-articulo figure img {
  width: 100%;
}

.container-articulo figure figcaption {
  width: 100%;
  text-align: left;
  font-weight: 100;
}


.container-articulo p {
  line-height: 1.6;
  font-size: 15px;
}


#sangrado {
  margin: 10px 5px;
  padding-left: 110px;
  line-height: 1.4;
  font-size: 20px;
}

.container-articulo h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 34px;
}

iframe {
  width: 100%;
  height: 400px;
}


#autora img {
  margin-top: 20px;
  border-radius: 50%;
  width: 150px;
}

#autora figcaption {
  text-align: center;
  padding: 0;
  margin: 0;  
}


#autora figcaption p {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

#autora figcaption .enlace-externo {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

#autora figcaption p:first-child {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
}
